{% extends 'base.html' %}
{% load bootstrapform %}

{% block title %}Digite a nova senha{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'surveys:list' %}">Home</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'accounts:list' %}">Usuários</a></li>
    <li class="breadcrumb-item"><a href="{% url 'accounts:update' user.pk %}">{{ user }}</a></li>
    <li class="breadcrumb-item active">Alterar senha</li>
{% endblock %}

{% block main %}
<div class="container">
    <div class="page-intro d-flex justify-content-between align-items-center">
        <h3>Digite a nova senha</h3>
    </div>
    <div class="card">
        <div class="card-body">
            <p>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
            <form method="POST" action="" novalidate>
                {% csrf_token %}
                {{ form |bootstrap }}
                <button type="submit" class="btn btn-primary">Reinicializar a senha</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}