{% extends 'base.html' %}
{% load bootstrapform %}

{% block title %}Digite a nova senha{% endblock %}

{% block main %}
<div class="container p-4 bg-white border rounded my-5">
    <h3>Digite a nova senha</h3>
    <p>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
    <form method="POST" action="" novalidate>
        {% csrf_token %}
        {{ form |bootstrap }}
        <button type="submit" class="btn btn-primary">Reinicializar minha senha</button>
    </form>
</div>
{% endblock %}