{% extends 'base.html' %}
{% load bootstrapform %}

{% block title %}Recuperar senha{% endblock %}

{% block main %}
<div class="container p-4 bg-white border rounded my-5">
    <h3>Recuperar senha</h3>
    <p>Esqueceu sua senha? Forneça seu endereço de email abaixo, e nos te enviaremos um email com instruções para configurar uma nova.</p>
    <form method="POST" action="" novalidate>
        {% csrf_token %}
        {{ form |bootstrap }}
        <button type="submit" class="btn btn-primary">Reinicializar minha senha</button>
    </form>
</div>
{% endblock %}